.Profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  width: 30%;
  background: #fff;
  padding: 32px 0px;
  border-radius: 16px;
}
